img {
  height:320px;
  width:200px;
}

.card {
  width:300px;
  margin:10px 10px 10px 10px;
  float:left;
  text-align: center;
}

.card:nth-of-type(even){
  background: yellow;
}

.card:nth-of-type(odd){
  background: lightblue;
}

.selected {
  border:6px dotted black;
}

.input{
  margin: 0 0 5px 0;
}